.App {
  display: flex;
  flex: 1;
  flex-wrap: wrap; /* Разрешить перенос элементов на следующую строку */
}

/* .button-container {
  display: flex;
  flex-direction: column;
}

.car-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  border: 1px solid red;
  padding: 30px;
  margin: 20px;
} */

.profile-card {
  display: flex; /* Использовать flexbox */
  flex-wrap: wrap; /* Разрешить перенос элементов на следующую строку */
  gap: 10px; /* Пространство между элементами карточки */
  width: 300px; /* Задаем ширину контейнера для карточек */
}

/* Пример стилей для дочерних элементов карточки */
.profile-card img {
  width: 100px; /* Задать ширину изображения */
  height: 100px; /* Задать высоту изображения */
}

.profile-card h2,
.profile-card p {
  margin: 0; /* Убрать внешние отступы у заголовков и абзацев */
}

