.App {
  display: flex;
  flex: 1;
  flex-wrap: wrap; /* Разрешить перенос элементов на следующую строку */
}

/* .button-container {
  display: flex;
  flex-direction: column;
}

.car-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  border: 1px solid red;
  padding: 30px;
  margin: 20px;
} */


